
:root {
    --background-color-light: #f0f0f0;
    --text-color-light: #333;
    --number-bg-color-light: #fff;
    --button-bg-color-light: #4CAF50;
    --button-text-color-light: white;

    --background-color-dark: #333;
    --text-color-dark: #f0f0f0;
    --number-bg-color-dark: #555;
    --button-bg-color-dark: #5cb85c;
    --button-text-color-dark: white;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

body[data-theme="dark"] {
    --background-color-light: var(--background-color-dark);
    --text-color-light: var(--text-color-dark);
    --number-bg-color-light: var(--number-bg-color-dark);
    --button-bg-color-light: var(--button-bg-color-dark);
    --button-text-color-light: var(--button-text-color-dark);
}

.container {
    text-align: center;
}

.numbers {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--number-bg-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color-light);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg-color-light);
    color: var(--button-text-color-light);
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
